        <h1>Register</h1>
        <form action="/register" method="POST">
            <label>Username: <input type="text" name="username" required></label><br>
            <label>Password: <input type="password" name="password" required></label><br>
            <button type="submit">Register</button>
        </form>
        <p><a href="/login">Already have an account? Log in</a></p>